/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON/UTILITY */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;
}

body {
    background-color: black;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: white;
}

/* BUTTON */
.header-button {
    padding: 0.3em .6em;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.6);
}

/* HEADER */
header {
    height: 50px;
    padding: .5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.first-btn {
    margin-right: .5em;
}

/* MAIN */
.container-flex {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.img-card {
    position: relative;
    margin: .5em .5em;
}

.text-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    padding: .3em;
    background-color: rgba(128, 128, 128, 0.5);
}

/* FOOTER */
footer {
    height: 80px;
    background-color: red;
}